@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel_items {
  text-align: center;
  text-align: -webkit-center;
}

.carousel_item {
  background-color: #fefcf3;
  height: 450px;
}

//for arrows
.slick-next:before {
  content: '';
}

.slick-prev:before {
  content: '';
}

.carousel_item_img {
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: #fff;
}

.carousel_item_info {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  flex-wrap: wrap;
  text-align: left;
  max-width: 300px;
  font-size: 18px;
}

.carousel_item_title {

}

.carousel_item_prise {

}

.carousel_item_description {
  margin-top: 20px;
}